body {
	margin: 0;
	padding: 0;
	background: url("/img/table.png") top -44px center no-repeat, url("/img/squiggle.png") top right 399px no-repeat;
	background-color: #000202;
}

a:link {
	text-decoration: none;
}

#стол{
	position: relative;
	left: 0px;
	top: -1280px;
	z-index: 1;
}
.cnt {
	max-width: 1250px;
	margin: 0 auto;
}

.logo{
	position: relative;
	z-index: 3;
}

.main_menu {
	background-color: rgb(204,0,0);
	position: relative;
}

.menu {
	display: flex;
	justify-content: space-between;
	max-width: 400px;
	list-style: none;
	margin: -55px 0 0 230px;
}

.menu a{
	line-height: 30px;
	font-size: 12px;
	font-family: "Arial";
	color: rgb( 255, 255, 255 );
	text-transform: uppercase;
}

.cnt2{
	max-width: 1250px;
	margin: 0 auto;
	height: 900px;
}
.bag{
	
	width: auto;
	height: 170px;
	margin: -26px 0px 0 775px;
}

#hook{
	position: relative;
	margin: 0 0 0 72px;
	z-index:2;
}
#bag_el{
	position: relative;
	margin: -46px 0 0 0px;
	z-index:1;
}
.lamp{
	margin: -80px 0 0 195px;
	
}
#lamp{
	height: 225px;
}
#pipe{
	margin: 0 0 0 285px;
	padding: 0;
}
#spider{
	margin: -10px 0 0 270px;
}
#organizer{
	margin: -95px 0 0 550px;
}